<h3>People Bios:</h3>
<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <h4>Current number of bios: {{ people.length }}</h4>
    <ul>
      <li ng-repeat="person in people">
        <p ng-click="toggleBioVisible($index)">Name: {{ person.name }}</p>
        <p ng-if="person.bioVisible">Bio: {{ person.bio }}</p>
        <button ng-click="deleteBio($index)">Delete this Bio</button>
    </ul>
    <div>
      <h4>Add a new Bio:</h4>
      <p>Name: <input ng-model="newName"></p>
      <p>Bio: <input ng-model="newBio"></p>
      <p><button ng-click="addBio(newName, newBio)">Add bio</button></p>
    </div>
  </div>
</div>