<h3>People Bios:</h3>
<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <ul>
      <li ng-repeat="bio in bios">
        <p>Name: {{ bio.name }}</p>
        <p>Bio: {{ bio.bio }}</p>
    </ul>
    <div>
  </div>
</div>